<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="..\static\css\reset.css">
  <link rel="stylesheet" type="text/css" href="..\static\css\style.css">
  <title>bikecity</title>
  <script type="module" src="..\static\script\main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <!-- <script  src="..\static\script\map.js"></script> -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
</head>

<body>
  <div class="title wrapper">
    <img src="/static/img/BIKECITY.svg" alt="Bikecity logo">
  </div>

  <div id="current-weather-box">
    <div class="temperature-curve">
      <canvas id="current-temp-graph" width="48" height="48"></canvas>
      <canvas id="current-temp-graph-number" width="48" height="48"></canvas>
      <span id="current-temp">-°C</span><span id="current-min">-</span><span id="current-max">-</span>
    </div>
    <div class="precipitation-curve">
      <canvas id="current-precipitation-graph" width="48" height="48"></canvas>
      <canvas id="current-precipitation-graph-number" width="48" height="48"></canvas>
      <span id="current-precipitation-probability">-%</span><img src="/static/img/umbrella.svg" alt="umbrella icon"
        id="umbrella-icon">
    </div>
    <div class="weather" id="current-weather"></div>
  </div>

  <div id="window">
    <!--
        <div id="plan-journey">
            <button class = "plan-journey-buttons" id="now-button">Now</button>
            <button class = "plan-journey-buttons" id="later-button">Later</button>
        </div>
        -->


    <form>

      <select name="now-departure-arrival" id="now-departure-arrival-picker">
        <option value="Start Now" selected="True">Start Now</option>
        <option value="Arrival">Arrival</option>
        <option value="Departure">Departure</option>
      </select>

      <span id="date-time-picker">
        <input type="datetime-local" id="time-picker" name="date" min="2023-04-01T00:00" max="2023-06-01T23:59" />
      </span>

      <!--Provides the picker with the station location options from database-->
      <div class="location">
        <input id="start-location-field" name="start-location-field" type="text" placeholder="Start location" /><br><br>
        <div id="start-bike-result"><!--Start Preselect-->
          <div class="bike-preselect" id="start-bike-preselect"></div>
          <div id="start-bike-show-more">Show more stations</div>
        </div>
        <span id="add-destination">+ Add destination</span>
        <input id="end-location-field" name="end-location-field" type="text" placeholder="Destination" /><br><br>
        <div id="stop-bike-result"><!--Stop Preselect-->
          <div class="bike-preselect" id="stop-bike-preselect"></div>
          <div id="stop-bike-show-more">Show more stations</div>
        </div>
      </div>
    </form>
    <br>
    <br>

    <div class="popup-more-info">
      <div class="popup-title">Select station:</div>
      <div class="start-locations-popup-more-info"></div> <!--Start Popup-->
      <div class="stop-locations-popup-more-info"></div> <!--Stop Popup-->
    </div> 

  </div>


  <div id="predicted-weather-box">
    <div class="temperature-curve">
      <canvas id="predicted-temp-graph" width="48" height="48"></canvas>
      <canvas id="predicted-temp-graph-number" width="48" height="48"></canvas>
      <span id="predicted-temp">-°C</span><span id="predicted-min">-</span><span id="predicted-max">-</span>
    </div>
    <div class="precipitation-curve">
      <canvas id="predicted-precipitation-graph" width="48" height="48"></canvas>
      <canvas id="predicted-precipitation-graph-number" width="48" height="48"></canvas>
      <span id="predicted-precipitation-probability">-%</span><img src="/static/img/umbrella-dark.svg"
        alt="umbrella icon" id="umbrella-icon">
    </div>
    <div class="weather" id="predicted-weather"></div>
    <div class="departure-arrival-times"></div>
  </div>
  <div id="duration-calculation-box"></div>


  <div id="map-window">
    <div id="map">
    </div>

    <div id="toggle-and-slider">

      <div id="toggle">
          <label id="pins-label" for="marker-toggle">Pins</label>
          <img src="..\static\img\toggle-bike.svg" alt="bike icon" id="toggle-bike-icon">
          <label class="switch">
            <input type="checkbox" id="marker-toggle">
            <span class="slider round"></span>
          </label>
          
          <img src="..\static\img\toggle-stands.svg" alt="park icon" id="toggle-stands-icon">
        </div>

      <div id="divider"></div>

      <div id="slider">
        <!--HeatMap min/max are times, step is minute, value is default for current user time-->
        <label for="heat-map-slider">HeatMap</label>
        <input type="range" id="heat-map-slider" name="heat-map-slider" min="00:00" max="23:59" step="00:01" value="">
      </div>
    </div>

    <div id="chart-window">
      <div id="close-chart-window">
        <img src="../static/img/x.svg" alt="icon">
      </div>
      <div id="chart-station-title"> Placeholder Station Name</div>


      <div class="chart-container">
        <div class="chart-title">Daily Bike Availability</div>
        <div class="chart-container" id="daily-chart">
          <canvas id="daily"></canvas>
        </div>
      </div>

      <div class="chart-container">
        <div class="chart-title">Weekly Bike Availability</div>
        <div class="chart-container" id="weekly-chart">
          <canvas id="weekly"></canvas>
        </div>
      </div>

      <script
        src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEAPI_KEY}}&libraries=places,visualization,geometry&callback=initMap"
        defer>
        </script>



    </div>





</body>

</html>