body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: rgb(255, 255, 255);
	color: #777;
	font: normal 15px Helvetica, Arial, Geneva, sans-serif;
	font-weight: bold;
}

.wrapper {
	margin: 0 auto;
	padding: 0px 0px;
}

p {
	line-height: 20px;
	font-weight: normal;
}

.indented {
	text-indent: 30px;
}

.newline {
	display: block;
  }

h1 {
	font-weight: bold;
	color: #444;
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 {
	font-weight: bold;
	color: #444;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;

}

h3 {
	font-size: 20px;
	color: black;
	font-weight: lighter;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}


h4 {
	font-size: 18px;
	color: black;
	font-weight: lighter;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

ul {
	margin-top: 10px;
	margin-bottom: 10px;
}


#map-window {
	float: right;
	width: 80%;
	height: 800px;
	position: absolute;
	left: 20%;
}

#map {
	height: 100%;
	width: 100%;
}

#google-map-overlays{
	position: absolute;
	top: 700px;
	width: 100%;
	height: 100px;
	color: black;
}

#google-map-overlays > * {
	display: inline-block;
	background-color: white;
}

#current-weather, #predicted-weather {
  position: absolute;
  top: -690px;
  background-color: rgba(255,255,255,0.9);
  border: #444;
  padding: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
}
#current-weather {
	left: 45%;
  	transform: translateX(-55%);

}
#predicted-weather {
	left: 65%;
  	transform: translateX(-45%);
	display: none;
}

.bike-availability{
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid darkblue;
}

#left-side-panel {
	box-sizing: border-box;
	padding: 10px;
	color: black;
	height: 500px;
	width: 20%;
	float: left;
}

#distance-calculator-table {
	font-size: 8;
	border: #444;
}

#plan-journey > button {
    width: 100px;
    height: 40px;
    margin: 25px 0px;
}

.selected {
	background-color: rgb(0, 102, 255);
	color: white;
  }

#plan-journey {
	margin: 10px auto;
}

#stationInfo > h1, #stationInfo > p{
	font-size: 10px;
}

#weather > .predicted-weather {
	display: none;
}


input {
	width: 80%;
}


input, select {
    border: 1px solid lightgray;
    background-color: rgb(240,240,240);
    margin: 7px 0px 10px 0px;
    border-radius: 3px;
    height: 20px;
    padding: 1px 6px;
}