@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: rgb(255, 255, 255);
	color: #B0EFFF;
	font: normal 16px Roboto, Helvetica, Arial, Geneva, sans-serif;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

p {
	line-height: 20px;
	font-weight: normal;
}

.indented {
	text-indent: 30px;
}

.newline {
	display: block;
}

h1 {
	font-weight: 700;
	color: #B0EFFF;
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 {
	font-weight: 700;
	color: #B0EFFF;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;

}


ul {
	margin-top: 10px;
	margin-bottom: 10px;
}

input,
select {
	background: #232323;
	border: 2px solid #B0EFFF;
	border-radius: 5px;
	height: 40px;
	padding-left: 12px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #B0EFFF;
	width: 100%;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #B0EFFF;
	opacity: 1;
	/* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #B0EFFF;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #B0EFFF;
}

input:hover {
	border-color: #459CB2;
	cursor: pointer;
}

/* Adjust the size and position of the default calendar icon */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
	padding: 4px;
	padding-left: 40px;
	margin-left: 4px;
	vertical-align: middle;
	background: transparent;
	border: none;
	cursor: pointer;
}

/* Display a custom calendar icon */
input[type="datetime-local"] {
	background-image: url(/static/img/calendar.svg);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: auto 40%;
}

*:focus {
	outline: none;
}

/*
#map-window {
	float: right;
	width: 80%;
	height: 800px;
	position: absolute;
	left: 20%;
}*/

.title.wrapper {
	position: absolute;
	width: 263px;
	height: 67px;
	left: 27px;
	top: 23px;

	background: #232323;
	box-shadow: 2px 4px 6px rgba(35, 35, 35, 0.16);
	border-radius: 10px;
	z-index: 10;
}

.title.wrapper img {
	width: 204px;
	height: 30px;
	margin-top: 19px;
	margin-left: 29px;
}

.wrapper {
	margin: 0 auto;
	padding: 0px 0px;
}

#window {
	position: relative;
	width: 496px;
	/*height: 310px;*/
	left: 27px;
	top: 110px;

	background: #232323;
	box-shadow: 2px 4px 6px rgba(35, 35, 35, 0.16);
	border-radius: 10px;
	z-index: 9;
}

#current-weather-box {
	position: absolute;
	width: 206px;
	height: 67px;
	left: 317px;
	top: 23px;

	background: #232323;
	box-shadow: 2px 4px 6px rgba(35, 35, 35, 0.16);
	border-radius: 10px;
	z-index: 2;
}

#predicted-weather-box {
	display: none;
	position: relative;
	width: 206px;
	height: 67px;
	left: 27px;
	top: 116px;

	background: #B0EFFF;
	box-shadow: 2px 4px 6px rgba(35, 35, 35, 0.16);
	border-radius: 10px;
	z-index: 2;
	color: #232323;
}

#predicted-weather {
	position: relative;
	z-index: 4;
}

.departure-arrival-times {
	visibility: hidden;
	position: absolute;
	width: 496px;
	height: 67px;
	left: 0px;
	top: 0px;

	background: #B0EFFF;
	box-shadow: 2px 4px 6px rgba(35, 35, 35, 0.16);
	border-radius: 10px;
	z-index: 2;
}

#departure-date-time,
#arrival-date-time {
	position: absolute;
	left: 240px;
	font-size: 14px;
	line-height: 16px;
	width: 240px;
}

#divider-weather {
	position: absolute;
	left: 214px;
	top: 7px;
	width: 2px;
	border-radius: 4px;
	height: calc(100% - 14px);
	background-color: #232323;
}

#departure-date-time {
	top: 14px;
}

.dep-arr-date {
	font-weight: 700;
}

.dep-arr-time {
	position: absolute;
	left: 90px;
}

#arrival-date-time {
	bottom: 12px;
}


#current-weather-icon,
#predicted-weather-icon {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 144px;
	top: 12px;
}

/* Form: */

form {
	position: relative;
	top: 30px;
	display: block;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 14px;
}

#now-departure-arrival-picker {
	width: 161px;
	height: 44px;
	background: #B0EFFF;
	border-radius: 5px;
	color: #232323;

	display: inline-block;
	margin-right: 18px;
	margin-bottom: 18px;
}

#now-departure-arrival-picker:hover {
	background: #459CB2;
	border-color: #459CB2;
	cursor: pointer;
}

#date-time-picker {
	height: 40px;
	display: none;
}

input#time-picker {
	width: 237px;
}

#start-location-field,
#end-location-field {
	width: 418px;
	margin-bottom: 16px;
}

#add-destination {
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 27px;
	display: block;
	margin-left: 15px;
	height: 19px;
}

#add-destination:hover {
	color: #459CB2;
	cursor: pointer;
}

.origin-destination-label {
	font-weight: 700;
	margin-bottom: 12px;
	font-size: 16px;
}

#missing-start-loc {
	color: red;
	font-style: italic;
	margin-top: -10px;
	font-size: 12px;
	font-weight: 700;
	display: none;
}

.shake {
	display: block;
	animation: shake 0.5s;
}

@keyframes shake {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}


/* Station selection */
#start-bike-result,
#stop-bike-result {
	display: none;
}

#preselect-no-result {
	position: absolute;
	left: 30px;
	line-height: 22px;
	top: 12px;
}

.bike-preselect,
.bike-box {
	width: 496px;
	height: 66px;
	color: #232323;

	background: #B0EFFF;
	position: relative;
}

.bike-box:hover {
	background: #459CB2;
	cursor: pointer;
}

.bike-preselect {
	margin-left: -30px;
	box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.16);
}

.bike-box {
	border-bottom: 1px solid #232323;
}

.station-name {
	display: inline-block;
	width: 290px;
	height: 19px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;

	position: absolute;
	top: 16px;
	left: 97px;
}

.bike-chance {
	display: inline-block;
	width: 180px;
	height: 16px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	position: absolute;
	top: 36px;
	left: 97px;

}

.station-walking-time {
	display: inline-block;
	height: 19px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;

	text-align: right;

	position: absolute;
	top: 16px;
	right: 30px;
}

.station-distance {
	display: inline-block;
	height: 16px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	text-align: right;

	position: absolute;
	top: 36px;
	right: 30px;
}

#start-bike-show-more,
#stop-bike-show-more {
	display: block;
	margin: 12px 3px 14px 0px;
	font-size: 14px;

}


#start-bike-show-more:hover,
#stop-bike-show-more:hover {
	color: #459CB2;
	cursor: pointer;
}

.popup-more-info {
	visibility: hidden;
	position: absolute;
	width: 496px;
	height: 716px;
	max-height: 82vh;
	left: 0px;
	top: 0px;

	background: #232323;
	box-shadow: 2px 4px 6px rgba(35, 35, 35, 0.16);
	border-radius: 10px;
	z-index: 11;
}

#close-popup {
	right: 30px;
	top: 26px;
	position: absolute;
	display: block;
	width: 14px;
}

#close-popup:hover {
	opacity: .5;
	cursor: pointer;
}

#destination-section {
	display: none;
	margin-top: 30px;
}

.scrollbox {
	position: absolute;
	top: 56px;
}

.start-locations-popup-more-info,
.stop-locations-popup-more-info {
	position: absolute;
	top: 0px;
	max-height: 70vh;
	overflow-y: scroll;
	-ms-overflow-style: scroll;
}

.popup-title {
	position: absolute;
	top: 30px;
	left: 30px;

	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #B0EFFF;
}

/* ---------- */

#map {
	position: absolute;
	top: 0px;
	height: 100vh;
	width: 100vw;
	z-index: 0;
}

#google-map-overlays {
	position: absolute;
	top: 700px;
	color: black;
	z-index: 1;
}

#google-map-overlays>* {
	display: inline-block;
	background-color: white;
}

/*
#current-weather, #predicted-weather {
  position: absolute;
  top: -690px;
  background-color: rgba(255,255,255,0.9);
  border: #444;
  padding: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: center;
}
#current-weather {
	left: 45%;
  	transform: translateX(-55%);

}
#predicted-weather {
	left: 65%;
  	transform: translateX(-45%);
	display: none;
}
*/

.bike-availability {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px solid darkblue;
}



table#distance-calculator-table1,
table#distance-calculator-table2 {
	font-size: 8;
	border: #444;
	visibility: hidden;
}

#plan-journey>button {
	width: 100px;
	height: 40px;
	margin: 25px 0px;
}

.selected {
	background-color: rgb(0, 102, 255);
	color: white;
}

#plan-journey {
	margin: 10px auto;
}

#stationInfo>h1,
#stationInfo>p {
	font-size: 10px;
}

/*#weather > .predicted-weather {
	display: none;
}*/


/*input {
	width: 80%;
}*/


/* Canvas: */
.temperature-curve,
.station-curve,
.precipitation-curve {
	width: 48px !important;
	height: 48px !important;
	/* display: box;*/
	position: absolute;
	left: 18px;
	font-weight: 700;
	z-index: 3;
}

.precipitation-curve {
	left: 81px;
}

.station-curve {
	left: 30px;
}

#current-temp-graph,
#current-temp-graph-number,
#current-precipitation-graph,
#current-precipitation-graph-number,
#predicted-temp-graph,
#predicted-temp-graph-number,
#predicted-precipitation-graph,
#predicted-precipitation-graph-number,
.background-canvas,
.station-number-canvas {
	position: absolute;
	top: 0px;
	z-index: 1;
}

#current-temp,
#predicted-temp,
#current-precipitation-probability,
#predicted-precipitation-probability,
.available-number {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	top: 26px;
	font-size: 14px;
	text-align: center;
	font-weight: 700;
}

.available-number {
	top: 24px;
}

.background-station {
	position: relative;
	top: 12px;
	left: 2px;
	z-index: 0;
}

#current-min,
#predicted-min {
	position: absolute;
	left: 7px;
	top: 46px;
	font-size: 10px;
}

#current-max,
#predicted-max {
	position: absolute;
	right: 8px;
	top: 46px;
	font-size: 10px;
}

#umbrella-icon,
.icon {
	position: absolute;
	height: 10px;
	width: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	top: 46px;
}

.icon {
	height: 12px;
	width: 12px;
}

#chart-window {
	display: none;
	position: absolute;
	width: 300px;
	height: 700px;
	right: 30px;
	top: 33px;
	box-shadow: rgba(35, 35, 35, 0.16) 2px 4px 6px;
	z-index: 9;
	background: rgb(35, 35, 35);
	border-radius: 10px;
	padding: 30px;
}

#chart-station-title {
	display: block;
	font-weight: 700;
	height: 20px;
}

#chart-title {
	font-weight: 700;
	margin-left: 15px;
	display: block;
	height: 19px;
	margin-bottom: 27px;
}

#close-chart-window>img {
	right: 30px;
	position: absolute;
	display: block;
	width: 14px;
}

#close-chart-window>img:hover {
	opacity: .5;
	cursor: pointer;
}

.chart-container {
	display: block;
	position: relative;
	height: calc((100% - (30px + 10px + 20px)) / 2);
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	background: #232323;
	border: 2px solid #B0EFFF;
	padding: 12px 12px 0px 12px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

.chart-container>.chart-container {
	border: 0px;
	position: relative;
	height: 85%;
}

.chart-container>canvas {
	position: relative;
}

#cluster-marker-class {
	background-color: #232323;
}


#slider {
	width: calc(.72 * (100% - 20px));
	float: right;
}

#toggle {
	float: left;
	width: calc(.28 * (100% - 20px));
}

#toggle-and-slider {
	position: absolute;
	background: #232323;
	width: 450px;
	border-radius: 10px;
	padding: 10px;
	left: calc(50% - 200px);
	bottom: 30px;
	box-sizing: border-box
}

#heat-map-slider {
	width: calc(100% - 50px);
	height: 25px;
	margin: 0 !important;
	padding: 0 !important;
	border: 0px;
}

#reset-slider {
	position: absolute;
	right: 15px;
	top: 15px;
}

#reset-slider:hover {
	opacity: .5;
	cursor: pointer;
}

#toggle>span {
	font-size: 7px;
}

#slider-date-time,
#marker-toggle-description {
	display: none;
}



#toggle-bike-icon,
#toggle-stands-icon {
	display: block;
	height: 16px;
	width: 16px;
}

#divider {
	width: 2px;
	height: calc(100% - 14px);
	background-color: #B0EFFF;
	position: absolute;
	left: 30%;
	top: 7px;
	border-radius: 4px;
}

.toggle-slider-header {
	display: block;
	margin: 0px 0px 0px 0px;
}

.toggle-slider-subheader {
	color: #459CB2;
	margin-top: 2px;
	font-size: 12px;
}

#toggle-icons {
	margin: 13px 0px;
	display: flex;
	justify-content: space-evenly
}


/* w3school.com Toggle switch */
.switch {
	position: relative;
	width: 25px;
	height: 16px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #B0EFFF;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 2px;
	bottom: 2px;
	background-color: #232323;
	-webkit-transition: .4s;
	transition: .4s;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 25%;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
	outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
	background-color: #b0efff;
	border-radius: 8px;
	height: 5px;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	margin-top: -2.5px; /* Centers thumb on the track */
	background-color: #459cb2;
	border-radius: 0.5rem;
	height: 10px;
	width: 10px;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
	outline: 3px solid #459cb2;
	outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
	background-color: #b0efff;
	border-radius: 8px;
	height: 5px;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
	background-color: #459cb2;
	border: none; /*Removes extra border that FF applies*/
	border-radius: 0.5rem;
	height: 10px;
	width: 10px;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
	outline: 3px solid #459cb2;
	outline-offset: 0.125rem;
  }


input:checked+.slider {
	background-color: #459CB2;
}

input:focus+.slider {
	box-shadow: 0 0 1px #459CB2;
}

input:checked+.slider:before {
	-webkit-transform: translateX(9px);
	-ms-transform: translateX(9px);
	transform: translateX(9px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #459CB2;
	cursor: pointer;
	border: none;
}

#button-and-slider {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-content: center;
	height: 100%;
	align-items: center;
	margin-top: 6px;
}

#play-triangle {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 9px solid #232323;
	border-bottom: 5px solid transparent;
}

#play-button {
	padding-left: 8px;
}

.button-circle {
	width: 20px;
	height: 20px;
	background-color: #B0EFFF;
	border-radius: calc(50%);
	margin: 5px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	box-sizing: border-box;
}

.button-circle:hover {
	background-color: #459CB2;
	cursor: pointer;
}

.button-circle:active {
	background-color: #357b8c;
	cursor: pointer;
}

.pause-button-bar {
	width: 2px;
	height: 100%;
	background-color: #232323;
	margin: 4px auto;
	border-radius: 1px;
}


/* ---- */

/* Duration Box */

#duration-calculation-box {
	visibility: hidden;
	position: relative;
	display: block;
	width: 496px;
	height: 67px;
	left: 27px;
	top: 124px;

	background: #B0EFFF;
	box-shadow: 2px 4px 6px rgba(35, 35, 35, 0.16);
	border-radius: 10px;
	z-index: 2;
	color: #232323;
}

#start-walking-distance-display-min,
#biking-distance-display-min,
#stop-walking-distance-display-min,
#total-distance-display-min {
	position: absolute;
	top: 24px;
	display: block;
	width: 65px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}

#start-walking-distance-display-m,
#biking-distance-display-m,
#stop-walking-distance-display-m,
#total-distance-display-m {
	position: absolute;
	top: 44px;
	display: block;
	width: 65px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

#start-walking-distance-display-min,
#start-walking-distance-display-m {
	left: 19px;
}


#biking-distance-display-min,
#biking-distance-display-m {
	left: 153px;
}


#stop-walking-distance-display-min,
#stop-walking-distance-display-m {
	left: 287px;
}

#total-distance-display-min,
#total-distance-display-m {
	right: 25px;
}

#start-walking-icon,
#stop-walking-icon,
#bike-icon,
#destination-flag {
	position: absolute;
	top: 9px;
	height: 14px;
	width: 14px;
}

#start-walking-icon {
	left: 40px;
}

#stop-walking-icon {
	left: 309px;
}

#bike-icon {
	left: 174px;
}

#destination-flag {
	right: 50px;
}

#line-1,
#line-2,
#line-3 {
	position: absolute;
	display: block;
	top: 35px;
	width: 55px;
	height: 2px;
	border-radius: 4px;
	background-color: #232323;
}

#line-1 {
	left: 86px;
}

#line-2 {
	left: 220px;
}

#line-3 {
	top: 7px;
	width: 2px;
	border-radius: 4px;
	height: calc(100% - 14px);
	right: 120px;
}